#iconoEnviar{
    margin: 0% 0% 0% 80%;
}
.bg-style {
    background:#1d87f3;
}

ion-content{
    background: url('../../assets/fondo_chat.jpg') no-repeat center / cover;
}

.tituloOpciones{
    margin: 0% 0% 0% 0%;
}



ion-card-content{
    font-size: 20px;
  }

  