<ion-app>
  <div id="custom-overlay" [style.display]="showSplash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="../assets/chat_amarillo.png" class="imgSplashChatAmarillo">
      <img src="../assets/chat_verde.png" class="imgSplashChatVerde">    
      <img src="../assets/chat_rojo.png" class="imgSplashChatRojo">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>
  <div [style.display]="swhoSplash ? 'none' : 'flex'">
    <ion-router-outlet ></ion-router-outlet>
  </div>
  <div [style.display]="showSplash ? 'none': 'flex'" >
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
