<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button style="font-family: Arial, Helvetica, sans-serif;"
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="tituloHeader">
      Elegir
       <ion-icon class="ionIcon" src="./assets/sign-out-alt-solid.svg" (click)="salir()"></ion-icon>
     </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="home" [fullscreen]="true"><br>


  <ion-spinner name="lines" *ngIf="mostrar" class="unSpinner"></ion-spinner>

  <button [ngClass]="(valorBoton == 'Activar Alarmas')? 'btnGigante colorPrincipal': 'btnGigante colorTerciario'"
    (click)="accion()">{{valorBoton}}</button>
  
</ion-content>
